body{
    margin: 0px;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*qui si trova le dimensioni e il colore del pattern (in modo ripetuto
per evitare di inserire immagini*/
#pattern{
    background-color: rgb(60, 152, 226);
    background-image: url(/img/pattern.png);
    background-size: 600px 250px;
    background-repeat: repeat-x;

    height: 125px; 
}

/*Logo (aggiunto anche i margin per il posizionamento del logo)*/
#logo{
    height: 60px;
    width: 250px;
    margin-top: 50px;
    margin-left: 5px;
}
h1{
    margin-bottom: 1px;
}

/*Posizionamento delle varie scritte e foto(per stare posizionate come nell'immagine
dell'esercizio*/

#scrittaIntroduzione{
    font-size:xx-large;
    margin: 1px;
}
#distacco{
    margin: 1px;
}
#distacco2{
    margin-top: 1px;
}
#scrittAzzurra{
    color: rgb(99, 209, 209);
}
#scrittaGrigia{
    color: gray
}
#scrittaData{
    font-size: small;
    color: gray;
    margin: 1px;
}
section #img1{
    margin-top: 12px;
    width: 800px;
}
section #img2{
     margin-top: 12px;
    width: 684px;
}
#photoDescription{
    font-size: small;
    margin: 1px;
}

/*EVIDENZIATORE*/
#evidenziato{
    background:#FFFF00; 
}

/*sezione tabella css*/
thead{
    background-color: rgb(41, 111, 190);
    color: white;
}
#tbody1-3{
    background-color: rgb(124, 178, 240);
}
/*DIMENSIONE LATERALE DELLA TABELLA*/
th{
    width: 30%;
}

/*distacco tra main e footer*/
#distacco3{
    padding-top: 15px;
}