body{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/*qui si trova le dimensioni e il colore del pattern (in modo ripetuto
per evitare di inserire immagini*/
#pattern{
    background-color: rgb(60, 152, 226);
    background-image: url(/img/pattern.png);
    background-size: 600px 250px;
    background-repeat: repeat-x;
    width: 2000px;
    height: 125px; 
}

/*Logo (aggiunto anche i margin per il posizionamento del logo)*/
#logo{
    height: 60px;
    width: 250px;
    margin-top: 50px;
    margin-left: 5px;
}

main{
    background-color: white;
}