body{
    margin: 0;
}

/*qui si trova le dimensioni e il colore del pattern (in modo ripetuto
per evitare di inserire immagini*/
#pattern{
    background-color: rgb(60, 152, 226);
    background-image: url(/img/pattern.png);
    background-size: 600px 250px;
    background-repeat: repeat-x;
    width: 2000px;
    height: 125px; 
}

/*Logo (aggiunto anche i margin per il posizionamento del logo)*/
#logo{
    height: 60px;
    width: 250px;
    margin-top: 50px;
    margin-left: 5px;
}

#scrittaIntroduzione{
    font-size:xx-large;
}
#scrittAzzurra{
    color: rgb(99, 209, 209);
}
#scrittaGrigia{
    color: gray;
}
#scrittaData{
    font-size: small;
    color: gray;
}

section #img1{
    width: 800px;
}
section #img2{
    width: 684px;
}